<h3>Now Showing</h3>          
<%= select_link filtered_games_path(:players => "VALUE"), [['Any # of Players', 'any']] + player_options(), params[:players].to_i %>
 
<h3>Categories</h3>
<div><%= link_to 'Any', filtered_games_path(:category => nil) %></div>
<% for c in Category.all %>
    <div><%= link_to h(c.name), filtered_games_path(:category => c) %></div>
<% end %>
