<h3>Now Showing</h3>
<%= render :partial => 'players' %>
<!-- < #options_for_players() %> -->

<h3>Categories</h3>
<div><%= link_to 'Any', filtered_games_path(:category => nil) %></div>
<% @categories.each do |c| %>
    <div><%= link_to c.name, filtered_games_path(:category => c) %></div>
<% end %>
