<% content_for(:header) do %>
    <%= link_to "Post a new game", new_game_path() %>
    <%= render :partial => 'filter' %>
<% end %>

<h1>Games</h1>
<%= render :partial => 'game', :collection => @games %>

            

