<%= render :partial => 'filter' %>
<h1>Games - <%= @category_name %></h1>
<% @games.each do |game| %> 
    <%= render :partial => 'minigame', :locals => {:game => game} %>
<% end %>      
            

