<div>
    <%= link_to "back", games_path() %> - 
    <%= primary "Edit Game", edit_game_path(@game)  %>
</div>
<h1><%= @game.title %></h1> 
<h3>Description</h3>
<p><%= h(@game.description).gsub(/\n/, '<br>') %></p>
